.Home {
    display: flex;
    flex-direction: column;
}

.Home img {
    width: 100%;
    height: auto;
}

.Home p {
    font-size: 0.8rem;
    color: rgb(116, 115, 115);
    padding: 0 20px;
}

.Home a {
    text-decoration: none;
    color: #000;
}

.Home h3 {
    padding: 0 20px;
    margin-top: -4px;
    margin-bottom: -8px;
}